/*SECCION BLOG*/
.square {
	border: 2px solid #CECBCB;
	padding: 6px;
	margin: 4px;
	p {
		font-size: 13px;
		padding: 12px;
	}
	h3 {
		font-size: 16px;
		margin-bottom: 15px;
		text-aling: center;
	}
		.opinion-square {
		border: 1px solid #CECBCB;
		background-color: #CACACA;
		padding: 10px;
		text-align: left;
		}
			.img-sqr {
				display: inline-table;
				margin-top: -5px;
				}
			.text-sqr {
					display: inline-table;
					margin-left: 2px;
					margin-top: 10px;
					h4 {
					font-size: 16px;
					font-weight: bold;
					}
				}
}
/*FIN SECCION BLOG*/



/*SECCION COLUMNISTAS*/
/*CUADROS DE CONVERSACION*/
.recuadro {
	border: 2px solid #CECBCB;
	padding: 6px;
	margin: 4px;
	p {
		font-size: 13px;
		padding: 12px;
	}
	h3 {
		font-size: 16px;
		margin-bottom: 15px;
		text-aling: center;
	}
		.cuadro-opinion {
		border: 1px solid #CECBCB;
		background-color: #CACACA;
		padding: 10px;
		text-align: left;
		}
			.cuadro-img {
				display: inline-table;
				margin-top: -5px;
				}
			.cuadro-text {
					display: inline-table;
					margin-left: 2px;
					margin-top: 10px;
					h4 {
					font-size: 16px;
					font-weight: bold;
					}
				}
}



/* -- FIN -- */

.btn-columnas {
	background-color: #DD3434;
	border-radius: 5px;
	color: white;
	padding: 5px 16px;
	text-align: center;

}

.abc-list li {
	background-color: #DD3434;
	font-size: 15px;
	list-style: none;
	text-decoration: none;
	display: inline;
	padding-right: 10px;
		a {
			color: white;
			text-decoration: none;
		}
	.abc-list ul {
		background-color: #DD3434;
	}
}









/* FIN SECCION COLUMNISTAS*/


/*FOOTER DE TODAS LAS PAGINAS*/
.back-color-gray {
background-color: #CACACA;
}

.img-text-republica {
	padding-top: 100px;
}

.links-list li {
	color: black;
	list-style: none;
	text-decoration: none;
	text-align: left;
	a {
	text-decoration: none;
	color: black;
	}
}

.newspaper-list li {
	font-size: 15px;
	list-style: none;
	text-decoration: none;
	display: inline;
	border-right: 1px solid black;
	margin-left: 6px;
	padding-right: 6px;
		p {
			font-size: 15px;
			display: inline;
		}
		a {
			color: black;
			text-decoration: none;
		}
}
/*FIN FOOTER*/